* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Cantarell,Helvetica,Arial,sans-serif;
	margin: 0;
	font-size: 14px;
	color: #1f1f1f;
}
iframe { 
	border: 0;
}

.gsc-result .gs-title {
    height: auto;
    overflow: visible;
}
#version a, #supertitle a {
	text-decoration: underline;
}

a {
	color: #A66054;
	text-decoration: none;
	padding: 2px;
}
p {
	margin: 15px 0;
}
a.current, .nav a {
	background-color: #8fce6a;
	color: #fff;
}
.nav a {
	font-size:11px;
	padding: 3px 6px;
	text-transform: uppercase;
}
h1, h2, h3 {
	color: #056085;	
	font-family: lato,oswald,"Francois One",Arial,Helvetica,sans-serif;
}

h1 {
	padding: 12px 0px;
	font-size: 24px;
}
h2 {
	font-size: 18px;
	padding-top: 20px;
}
h2 a {
	color: #056085;
}
ul, ol {
	margin: 24px 0;
	padding: 0 0 0 32px;
}
ul {
	list-style: disc outside none;
}
li {
	margin: 6px 0;
}

#header {	
	color: #A66054;	
	border-top: 1px solid #BBB;
	border-bottom: solid 6px #8FCE6A;
}

#version, #supertitle {	
	padding: 8px;
	padding-left: 15px;
	color: #A66054;
	font-size: 12px;
}

#search-box{
    padding:20px;
}

#header h1 {
	color: #056085;    
	padding: 15px;
	padding-bottom: 5px;
	font-weight: bold;
	margin: 0px;
	font-size: 26px;
}

#search-box {
    float: right;
    width: 500px;
}

#menu {
	float: left;
	width: 200px;
	padding: 15px;
	font-size: 12px;
	color: #FFF;
}
.nav {
	float: right;	
}
#content {
	float: left;
    margin-left: 20px;
    padding: 2px 20px ;
    width: 600px;
    min-height: 500px;
}

#menu{
    background-color: #056085;
    margin-bottom:30px
}

#menu ul {
	list-style: none outside none;
	padding: 0;
	margin: 0;
	font-weight: bold;
}
#menu li {
	list-style: none;
	padding: 3px 0px;
	padding-left:3px;
	margin: 0px;
	font-weight: normal;
}

#menu li, #menu li a{
	color: #FFF;
}

#menu li.booki-section, .section-breadcrumb {
	font-weight: bold;
	font-size: 12px;
}
.section-breadcrumb {
	margin-bottom: 16px;
}
#menu li.booki-section {
    font-style: italic;
    text-transform:uppercase;
	padding-top: 20px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin-top: 3px;
	margin-left: 0px;
}

#menu li.first {
	border-top: none;
	padding-top: 0px;
	margin-top: 0px;
}

p, li, #content {
	line-height: 160%;
}

#right-menu {
    width: 200px;
    float: left;
    padding-left:40px;
}

#right-menu h2 {
    padding-bottom:4px;
}

hr{
    border: 1px solid #8fce6a;
	
}


#formats img{
    vertical-align:middle;
}

#epub,#pdf{
    color: #A66054;
    width:180px;
    margin:0px;
    margin-bottom: 20px;
    padding:5px;
    font-weight: bold;
}

#footer {
	background-color: #056085;
	border-top: solid 6px #8FCE6A;
	color: #fff;
	clear: both;
	padding: 20px;
}
#footer a {
	text-decoration: underline;
	color: white;
}


