* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Verdana, Helvetica, sans-serif;
	margin: 0;
	font-size: 14px;
	color: #1f1f1f;
}
iframe { 
	border: 0;
}
a {
	color: #1f1f1f;
	text-decoration: none;
	padding: 2px;
}
p {
	margin: 15px 0;
}
a.current, .nav a {
	background-color: #8fce6a;
	color: #fff;
}
.nav a {
	padding: 3px 6px;
	text-transform: uppercase;
}
h1, h2, h3 {
	color: #056085;	
	font-weight: normal;
	font-family: 'Lato', 'Oswald', 'Francoise One', Verdana, Sans-serif;
}
h1 {
	padding-bottom: 8px;
	font-size: 20px;
}
h2 {
	font-size: 18px;
	padding-top: 20px;
}
h2 a {
	color: #056085;
}
#header {	
	padding: 24px 20px 0 30px;
	color: #056085;	
	border-top: 2px solid #056085;
}
#header h1 {
	margin: 0px;
	padding: 0px;
	font-size: 26px;
}
#menu {
	float: left;
	width: 200px;
	padding: 20px;
	font-size: 12px;
}
.nav {
	float: right;	
}
#content {
	float: left;
    margin-left: 10px;
    padding: 20px;
    width: 600px;
    min-height: 400px;
}
#footer {
	background-color: #8FCE6A;
	color: #fff;
	clear: both;
	padding: 20px;
}
#footer a {
	color: #fff;
}
#menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-weight: 400;
}
#menu li {
	list-style: none;
	padding: 3px 0px;
	margin: 0;
}
#menu li.booki-section, .section-breadcrumb {
	font-weight: bold;
	color: #056085;
	font-size: 12px;
}
.section-breadcrumb {
	margin-bottom: 16px;
}
#menu li.booki-section {
	padding-top: 6px;
	margin-top: 3px;
	border-top: 1px solid #056085;
}
#edition {
	margin-top: 0px;
	font-weight: bold;	
	color: #6D6E71;
	text-transform: uppercase;
}
p, li, #content {
	line-height: 160%;
}